#scenes {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.scene {
  display: none;
  font-size: 18px;
  margin: 20px auto;
  background: #e0e0e0;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s;
}

.scene.active {
  display: block;
  background-color: #ffe066;
  font-weight: bold;
}


.annotation-note-title {
  font-size: 13px;
  font-weight: bold;
}

.annotation-note-label {
  font-size: 11px;
  fill: #444;
}

#chart-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

#explore-controls {
  display: center;
  align-items: center;
  width: 180px;
  padding: 15px;
  background: #f1f3f5;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

#year-range-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

#year-range-controls input[type="range"] {
  width: 180px;
}

button {
  padding: 1px 2px;
  font-size: 8;
  color: black;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
}